@use '../global' as *;

.footer {
	align-items: center;
	background: #f1f2f3;
	display: flex;
	flex-direction: row;
	justify-content: center;

	&__index {
		bottom: 0;
		max-width: calc(100vw - #{$navbar-width});
		min-height: 20px;
		position: fixed;
		right: 0;
		width: 80%;
	}
}

.copyright {
	@extend %text;
	color: $black;
	padding: 5px;
	text-align: center;
}

@media screen and (max-width: 780px) {
	.footer {
		&__index {
			margin-left: 20%;
			max-width: 100vw;
			min-height: 20px;
			position: fixed;
			width: 100%;
		}
	}
}
